body{font-family: 'Cabin', sans-serif;}
.header-logo{font-family: 'Lobster', cursive;font-size: 37pt;}

h1, h2, h3, h4, h5, h6{font-weight: 700;}
h1{font-size: 40pt;}
h2{font-size: 30pt;}
h3{font-size: 23pt;}
h4{font-size: 20pt;}
h6{font-size: 16px}
p{font-size: 20px}
a{font-size: 16px}

.subscribe-text-1{font-size: 30pt;}
.subscribe-text-2, .subscribe-text-2 span{font-size: 20pt;}
.mobile-underline{text-decoration: none;}

@media only screen and (min-width: 767px) {
	h1{font-size: 40pt;}
	h2{font-size: 30pt;}
	h3{font-size: 20pt;}
	h4{font-size: 20pt;}
	h6{font-size: 16px}
	p{font-size: 20px}
	a{font-size: 16px}

	.subscribe-text-1{font-size: 40pt;}
	.subscribe-text-2, .subscribe-text-2 span{font-size: 30pt;}

	.mobile-underline{text-decoration: underline;}
}

img{width: 100%;}

.no-padding{padding: 0px !important;}
.no-margin{margin: 0px !important;}

#products{margin: 120px 0px 100px 0px;}

.card-block{flex: 1 1 auto;min-height: 1px;padding: 1.25rem;border-top: 1px solid rgba(0,0,0,.125);}
.card{margin: 25px auto;}
.text-grey{color: #373A3C}

.page-tittle{margin: 120px auto }
.xl-p{font-size: 17px}
.xs-p{font-size: 16px;}

.carousel-indicators {top: 30px;}
.carousel-indicators li {width: 18px;height: 0px;border-radius: 50%;}
.carousel-indicators li.active{background: #373A3C !important}
.carousel-indicators li{background: #373A3C31 !important}

hr.ricomida-divider {border-top: 1pt solid #000000;}